<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradJobs | Find Your First Internship</title>
    <link href="../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-left">
          <h1>🎓 GradJobs</h1>
          <p>For best enterprise education</p>
        </div>
        <div class="header-right">
          <a href="/signin/">sign in</a>
        </div>
      </div>
    </header>

    <div id="app" class="container">
      <div class="toolbar">
        <input type="text" v-model="searchQuery" placeholder="Search job titles...">

        <label for="sort">Sort by:</label>
        <select id="sort" v-model="sortKey">
          <option value="newest">Newest First</option>
          <option value="money-high">Stipend: High to Low</option>
          <option value="money-low">Stipend: Low to High</option>
          <option value="company">Company Name (A-Z)</option>
        </select>
      </div>

      <div class="jobs-container">
      <!-- This jobs-holder is where the job-card(s) will be injected -->
      <div id="jobs-holder"></div>
      <div id="jobs-preview"></div>
      </div>
    </div>

    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
