{% extends 'core/base.html' %}
{% load static %}
    {% block css %}
    <link href="{% static 'core/css/index.css' %}" rel="stylesheet" />
    {% endblock %}
{% block content %}
<div id="offer-container">
    {% for offer in offers %}
        <div class="offer-card">
            <h3>{{ offer.title }}</h3>
            <p>{{ offer.city }} - {{ offer.location }}</p>
            <p>{{ offer.description }}</p>
        </div>
    {% endfor %}
</div>

{% if page_obj.has_next %}
    <!-- This button points to the next page (e.g., ?page=2) -->
    <button id="load-more" data-next-page="{{ page_obj.next_page_number }}">
        Show 10 More
    </button>
{% endif %}
{% endblock content %}
